@font-face {
    font-family: "outfit";
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "young";
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E5D8;
}

img{
    max-width: 700px;
    display: block;
    margin: 0px auto 30px;
    border-radius: 15px;
}

main{
    border-radius: 25px;
    width: 800px;
    background-color: white;
    margin: 40px auto;
    padding: 20px 50px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.315);
}

h1{
    margin-bottom: 30px;
    font-family: 'young';
    font-weight: 300;
}

p{
    line-height: 1.5;
    font-family: 'outfit';
    font-weight: 200;
}

.preparationTittle{
    color: purple;
    font-family: 'outfit';
    font-weight: 500;
}

.preparation{
    background-color: rgb(245, 236, 245);
    border-radius: 20px;
    height: 204px;
    padding: 1px 35px;
    margin: 35px 0px;
}

h2{
    color: brown;
    font-size: 2rem;
    margin: 20px 0px;
    font-family: 'young';
    font-weight: 200;
}

li{
    line-height: 2;
    list-style-position: inside;
    font-family: 'outfit';
    
}

hr{
    margin: 25px 0px;
    background-color: #ddd;
    height: 1px;
    border: none;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

ul li::marker{
    color: brown;
}

ol li::marker{
    color: brown;
    font-weight: bolder;
    font-size: 1.3rem;
}

ul.nutrition{
    margin-top: 10px;
    list-style: none;
}

ul.nutrition li{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

ul.nutrition li span{
    color: brown;
    font-weight: bold;
}

@media (max-width: 768px) {
    main{
        width: 100%;
        margin: 0;
        padding: 35px;
        border-radius: 0;
    }

    img{
        display: block;
        margin: -35px -35px 70px ;
        max-width: none;
        width: calc(100% + 70px);;
        height: auto;
        border-radius: 0;
        
    }
    
    body{
        font-size: 15px;
    }

    h1{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1.3rem;
    }


}

